.buttonContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

button {
  width: 100px;
  height: 30px;
  margin: 10px;
  border-radius: 5px;
}
button:hover {
  background-color: antiquewhite;
}
